# Gradle
.gradle
build
!gradle/wrapper/gradle-wrapper.jar

# IDE
.idea
.vscode
*.iml
*.ipr
*.iws

# OS
.DS_Store
Thumbs.db

# Git
.git
.gitignore

# Logs
*.log

# Temp
tmp
temp

# Test
src/test

# QueryDSL generated
src/main/generated
